/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse; 
	border-spacing: 0;
}


/* ==============================================
    Custom Style
   ============================================== */

body {
    background-color: #eee;
    background-color: #939292;
    text-align: center;
    color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
}

.heading {
    font-size: 2rem;
    color: white;
    margin: 1rem;
}

.form {
    margin: 0 auto;
}

input {
    padding: 1rem;
    width: 500px;
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    outline: none;
    border: #272727;
}

 .btn {
    padding: 1rem;
    margin-left: -8px;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border: #272727;
    background-color:#5c5353;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
} 


.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #000;
    object-fit: cover;
    margin-right: 2.5rem;
    object-fit: cover;
}

p {
    font-weight: 400;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card {
    display: flex;
    align-items: center;
    /* background-color: #939292; */
    background: radial-gradient(circle, #939292 0%, black 100%);
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    width: max-content;
}

.username {
    font-size: 1rem;
    color: darkcyan;
    font-weight: 400;
    margin-left: 0.3rem;
}

.user-info h2 {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
}

.user-info p {
    margin: 0.4rem 0;
}

.num-div {
    margin-top: 2.5rem;
    text-align: center;
}

.num-div div {
    margin-right: 2rem;
}

.num-div label {
    font-size: 1.2rem;
    font-weight: 300;
}

.num-div h4 {
    font-size: 1.7rem;
}

.flex-container {
    align-items: flex-start;
    margin-top: 2rem;

}

.section-heading {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 0.5rem 0.5rem 0 0;
    /* background: #939292; */
    background: radial-gradient(circle, #939292 0%, black 100%);
    text-align: center;
}

.repo {
    border-top: 1px solid #111;
    padding: 2rem;
    text-align: left;
    /* margin: 1rem; */
}

.repo h5 {
    font-weight: 300;
    font-size: 0.8rem;
}

.repo-name {
    color: darkcyan;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.fork {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    margin-left: 0.4rem;
}

.repo-container {
    flex: 0 1 50%;
    border-radius: 0.5rem;
    background: #2b2b2b;
}


.repo-icon {
    justify-content: flex-start;
}

.repo-icon p {
    margin-right: 1rem;
}

.repo-info {
    margin-top: 2rem;
}

.followers-container {
    flex: 0 0 45%;
    border-radius: 0.5rem;
    background: #2b2b2b;
}

.follower {
    background: #222222;
    border-radius: 5px;
}

.follower h5 {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 0;
}

.follower-avatar {
    border-radius: 0.3rem 0.3rem 0 0;
    max-width: 100%;
    height: auto;
}

.followers {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
}